body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #740e88;
    color: #333;
}

h1 {
    text-align: center;
    color: #020302;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(244, 88, 255);
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e742e4;
    border-radius: 4px;
}

button {
    background-color: #9b4ede;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #cf6be3;
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image-container img {
    margin: 10px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
}